#clip-container{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
}

.bar{
    width: 400px;
}

#flubber{
    fill: #8b00ff;
    display:block;
}

#timer, #timer-buttons, .btn{ /* controls */
            width: 400px;
            height: 30px !important;
            position: relative;
            margin-top: 10px;
        }
        .button-animate {
            background-color: white;
            border-color: lightgreen;
        }
        .button-animate:active{
            font-size:15px;
        }
        #timer{
            background-color: whitesmoke;
        }
        #timer-buttons{/* play-pause*/
            background:none;
            text-align: center;
        }
        #timer-buttons #play-pause{ /* play pause*/
            background: grey;
            color: white;
            border: none;
            padding: 3px 8px;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
        }
        #timer .slot{ /* show time played-left*/
            float: left;
            width:50px;
            background-color: lightgrey;
            color:white;
            text-align: center;
            margin: 0;
            height: 100%;
        }
        #timer .bar{
            display: inline-block;
            width:300px;
            height:100%;
            position: relative;
        }
        #timer .right-slot{
            float: right;
        }
        #timer .bar #time-cursor{ /*time cursor*/
            position:absolute;
            width:10px;
            height:100%;
            background:#999;
            left:0;
            top:0;
        }